<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
<center><body>
<h1>Strata Issues</h1>

{% block content %}

{% endblock %}
</body></center>
</html>
