{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
{{ super() }}
<h2>Raise a new issue</h2>

<form method="POST" action="{{ url_for('create') }}">
 <table style="font-size:16px">
    <input type="text" name="description" value='{{ value }}'style="font-size:16px"><br><br>
    <tr font size ="13px">
        <td>
            <button type="button" onclick="window.location.href='{{ url_for('read') }}';">Back</button>
        </td>
        <td>
            <input type="submit" value="Submit" name="btn_submit">
        </td>
    </tr>
 </table>
</form>
{% endblock %}

