{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
{{ super() }}
<h2>Please fill in issue</h2>

{% for key, value in results_dict.items() %}
<h3> Issue Number: <br>{{ key }}</h3>
<h3> Issue Description: </h3>

<form method="POST" action="{{ url_for('edit',key=key) }}">
    <table style="font-size:16px">
    <input type="text" name="description" value='{{ value }}'style="font-size:14px" align="center"><br><br>
    <tr font size ="13px">
        <td>
            <button type="button" onclick="window.location.href='{{ url_for('index') }}';">Back</button>
        </td>
        <td>
            <input type="submit" value="Update" name="btn_submit">
        </td>
        <td>
            <input type="submit" value="Delete" name="btn_submit">
        </td>
    </tr>
 </table>
</form>
{% endfor %}

{% endblock %}


