{% extends 'base.html' %}

{% block title %}Read{% endblock %}

{% block content %}
{{ super() }}

<button type=button onclick="window.location.href='{{ url_for('create') }}';"style="font-size:13px">Raise new issue</button>

<h2>Issue Number & Description</h2>
{% for key, value in results_dict.items() %}
<h3>{{ key }} : {{ value }} <a href="{{ url_for('edit', key=key) }}" >Edit</a></h3>
{% endfor %}

{% endblock %}


